<div class="container">
  <div class="form-group row">
    <div class="col-sm text-center">
      <h4 class="d-block" style="background-color: #34495E; color:#fff; margin: 15px;">Lista de equipos</h4>
    </div>
  </div>
  
  
  <p>Turnos de:</p>

<p>Nombre: {{ querid.nombre }}</p>
<p>IDEmpleado: {{ querid.id }}</p>

<table class="table" *ngIf="eqs">
    <thead>
      <tr>
        <th scope="col">IDempleado</th>
        <th scope="col">Nombre empleado</th>
        <th scope="col">Fecha</th>
        <th scope="col">Turno dia</th>
        <th scope="col">Area</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let ems of eqs">
        <th scope="row">{{ ems.idempleado }}</th>
        <td>{{ querid.nombre }}</td>
        <td>{{ ems.fecha }}</td>
        <td>{{ ems.area }}</td>
       </tr>
    </tbody>
  </table>