.leftBorderDiv
{    
       border-left: 11px solid gray;
       padding-left: 22px;
}
.main-navigation .menu > li > a {
    border-right: 1px solid #000000;
}

.main-navigation .menu > li:last-child > a {
    border-right: 0;
}